lisp/emacs-webkit
!.gitignore
!init.el
!themes/*
!lisp/*
!config/
!config/*
!lisp
!snippets
!snippets/**/*
!*.org
!README.*
autosave
elpa
elpy
eshell
irony
recentf
smex-items
tramp
undo
transient
workspace
*
